.flex{
    display:flex;
}
.border{
    border:1px solid black;
    margin:3px;
}
.justify-content{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.rounded{
    border-radius: 8px;
}
.bg-grey{
background-color: #121212;
}
.mar-1{
    margin:5px;
}
.bg-black{
    background-color: black;
}
.p1{
    padding:8px 12px;
}
.pointer{
  cursor: pointer;
}
.invert{

        filter:invert(1);
    
}
::-webkit-scrollbar {
    width: 5px;
   } 

  ::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888888;
  }

  ::-webkit-scrollbar-thumb:active {
    background: #aaaaaa;
  }

 body{
  scrollbar-width: thin;
  scrollbar-color: #555555 #1e1e1e;
}